**
!package.json
!README.md
!CHANGELOG.md
!LICENSE
!THIRD_PARTY_NOTICES.txt
!docs/ACCESSIBILITY.md
!themes/tide-dark.json
!themes/tide-light.json
!assets/icon.png
!assets/tide-dark.png
!assets/tide-light.png
!assets/tide-dark-diff.png
!assets/tide-light-diff.png
